header {
    color: white;
    font-weight: bold;
    font-size: 33px; 
    height: 20px;
    width: 100%;
    padding: 20px 20px 20px 66px;
    background-color: #565b88;
}

header > span {
    text-transform: uppercase
}

.font-big-size {
    font-size: 24px; 
    /* or "larger" */
}

.red-box {
    margin: 20px;
    padding: 10px;
    background-color: rgb(237, 151, 132);
}

table a {
    text-decoration: none;
}

table {
    margin-left: 10px;
    font-size: 21px;
    border-spacing: 0;
    empty-cells: hide;
    }
    td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
    }
    td:first-child {
    text-align: left;
    color: #3D3511;
    font-weight: bold;
    }
    th {
    padding: 10px 20px;
    color: #f5f4f1;
    border-bottom: 1px solid #241156;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
    td:nth-child(even) {
    background: #afd0ea;
    }
    td:nth-child(odd) {
    background: #82a2d8;
    }
    th:nth-child(even)  {
    background: #565b88;
    color: white;
    }
    th:nth-child(odd)  {
    background: #565b88;
    color: white;
    }
    .round-top {
    border-top-left-radius: 10px;
    }
    .round-bottom {
    border-bottom-left-radius: 10px;
    }
    .round-bottom-right {
    border-bottom-right-radius: 10px;
    }
    tr:hover td {
    color: rgb(251, 251, 251);
    background: #b27bca;
    /* font-weight: bold; */
    }

