body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(234, 106, 106), rgb(111, 111, 237));
}

/* Свойство CSS height: 100vh; обеспечивает заполнение всей высоты видимого экрана элементом, не зависимо от его родительских блоков. В свою очередь, height: 100%; работает на основе высоты родительского элемента и не гарантирует полное заполнение видимой области. Использование 100vh предпочтительнее для заполнения всего экрана, т.к. это исключает вероятность ошибок в расчётах. */