h1 {
    color: darkslateblue;
    text-align: center;
}

.css-text-bold {
    font-weight: bold;
}

.css-text-italic {
    font-style: italic;
}

.css-text-priority {
    text-decoration: underline;
}

.css-text-center {
    text-align: center;
}

.css-text-red {
    color: red;
}

.css-text-big-size {
    font-size: 20px;
}

.css-block-center{
    display: inline-block}

li{
    text-align: left;
    }