body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: #252a47;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 30px;
    z-index: 5;
}

.circle {
    width: 120px;
    height: 120px;
    background: #071c31;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s;
}

.circle:hover {
    transform: scale(1.15);
}

/* эффект влетающего круга */
.zoom-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;

    opacity: 0;
    transform: scale(0);
    transition: transform 0.9s cubic-bezier(0.2, 0.9, 0.3, 1.4), opacity 0.4s;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* текст внутри круга */
.message {
    color: black;
    font-size: 12px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(20px);
    text-align: center;
}