body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 3 грида */
.grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    flex-wrap: wrap;   /* чтобы переносились */
}

.item {
    padding: 20px 30px;
    background: rgb(237, 237, 237);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    white-space: normal;      /* ← текст переносится */
    text-align: center;       /* ← текст красиво центрируется */
}

.item:hover {
    transform: scale(1.1);
}

/* ЗАТЕМНЕНИЕ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;          /* скрыто по умолчанию */
    justify-content: center;
    align-items: center;
}

.overlay-text {
    color: white;
    font-size: 38px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}